.accounts-view-detail-new-colm2,
.accounts-detail-new-profile-form-div,
.accounts-detail-new-card-calendar {
  // background: #ffffff;
  // box-shadow: vw(1px) vw(3px) vw(20px) rgba(0, 0, 0, 0.14);
  // border-radius: vw(16px);
  @include theme-mixin-3;
}

// form div
.accounts-detail-new-profile-form-div {
  width: vw(700px);
  margin-right: vw(21px);
  padding: vw(27px) vw(26px) vw(100px) vw(21px);
  word-break: break-all;

  .accounts-profile-display-fields-text-block-1,
  .accounts-profile-display-fields-text-block-2,
  .row {
    width: 100%;
    margin-left: 0;
  }

  .add-lead-label {
    margin-left: 0;
  }
  .add-lead-form-field-block {
    border-top: none;
  }
  .leads-new-details-profile-form-display__gray-italic-text {
    padding-right: 0;
    padding-bottom: vw(5px);
  }

  .account-profile-display-salesperson-note {
    width: 50%;
  }

  .accounts-profile-display-fields-text-block-1,
  .accounts-profile-display-fields-text-block-2 {
    background: transparent;
    border: none;
    backdrop-filter: blur(0);
  }
}

// calendar card
.accounts-detail-new-card-calendar {
  width: vw(517px);
  height: vw(343px);
  margin-bottom: vw(25px);
  padding: vw(25px) vw(34px) vw(35px) vw(30px);
  box-shadow: none;
  // box-shadow: vw(1px) vw(3px) vw(20px) rgba(0, 0, 0, 0.14);
  padding-right: vw(10px);
}

// count card
.accounts-detail-new-count-card {
  width: vw(1240px);
  height: vw(150px);
  border-radius: vw(13px);
  margin-bottom: vw(24px);
  // background-color: #faf5fe;
  padding: vw(49px) vw(10px) vw(28px) vw(10px);
  // @include theme-mixin-3;
  padding-top: vw(29px);
}

.accounts-detail-new-count-card__block {
  width: vw(139px);
  text-align: center;
  overflow: auto;
  margin-right: vw(10px);
  @include theme-mixin-3;
  padding-top: vw(20px);
  position: relative;
  // width: vw(186px);

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: vw(3px);
    height: 100%;
    background: radial-gradient(
      123.78% 111.9% at 43.84% 32.99%,
      $theme-text-color-blue 0%,
      rgba(111, 90, 220, 0) 100%
    );
    border-radius: vw(12px);
  }
}

.accounts-detail-new-count-card__blue-text {
  font-size: vw(24px);
  line-height: vw(36px);
  @include fontBold700;
  margin-bottom: vw(17px);
  // color: #483ca6;
  color: $theme-text-color-white-79;
}

.accounts-detail-new-count-card__gray-text {
  font-size: vw(13px);
  line-height: vw(19px);
  @include fontSemiBold600;
  // color: rgba(46, 37, 107, 0.35);
  color: $theme-text-color-white-79;
}

// accounts new details
.accounts-new-details-profile-calendar-icon {
  display: none;
  // width: vw(38px);
  // margin-right: vw(16px);
}

.accounts-new-details-us-title {
  // color: $theme-text-color-white-42;
  font-size: vw(14px);
  line-height: vw(25px);
  @include fontBold700;
  padding-bottom: vw(43px);
  margin-bottom: vw(5px);
  // border-bottom: vw(1px) solid rgba(0, 0, 0, 0.07);
  color: $theme-text-color-white-79;
  border-bottom: vw(1px) solid $theme-border-color-white-26;
  @include theme-letter-spacing-28-uppercase;
  opacity: 0.49;

  .leads-new-details-profile-form-display__gray-italic-text {
    padding-left: vw(280px);
    font-size: vw(12px);
  }
}

.accounts-new-details-us-text-1 {
  font-size: vw(21px);
  line-height: vw(31px);
  @include fontExtraBold800;
  // color: rgba(46, 37, 107, 0.8);
  color: $theme-text-color-1;
  margin-right: vw(5px);
  margin-bottom: 0;
  word-break: break-all;
}

.accounts-new-details-us-text-2 {
  // color: rgba(90, 48, 135, 0.38);
  font-size: vw(13px);
  line-height: vw(19px);
  @include fontExtraBold800;
  margin-bottom: 0;
  margin-right: vw(13px);
  color: $theme-text-color-white-42;
}

.accounts-new-details-us-text-3 {
  // color: rgba(48, 48, 48, 1);
  font-size: vw(13px);
  line-height: vw(19px);
  @include fontSemiBold600;
  margin-right: 0;
  margin-bottom: 0;
  color: $theme-text-color-white-79;
  // color: $theme-text-color-1;
}

.accounts-new-details-us-blue-circle-icon-block {
  width: vw(37px);
  height: vw(37px);
  border-radius: 100%;
  margin-right: vw(16px);
  background: radial-gradient(50% 50% at 50% 50%, #a18eff 0%, #2a447d 100%);

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.accounts-new-details-leads-dropdowns-div {
  padding-top: vw(26px);
  padding-left: vw(60px);

  .lead-status-dropDown.Dropdown-root,
  .Dropdown-control {
    height: vw(62px);
    backdrop-filter: blur(0);
  }
  .lead-status-dropDown .Dropdown-placeholder {
    line-height: vw(55px);
    font-style: normal;
    font-size: vw(14px);
    color: $theme-text-color-white-79;
  }

  .lead-status-dropDown--emoji {
    width: vw(80px);

    .Dropdown-control {
      padding-left: vw(15px);
      font-size: vw(20px);
    }
  }

  .lead-status-dropDown--level {
    &.Dropdown-root {
      width: vw(300px);
    }

    .Dropdown-control {
      width: inherit;
      max-width: max-content;
    }
  }

  .Dropdown-menu {
    width: inherit;
  }

  .Dropdown-control {
    background: none;
    background: $theme-bg-color-white-03;
    border-radius: vw(18px);
  }
}

.accounts-new-details-us-text-3--width1 {
  //width: vw(91px);
  width: vw(40px);
  word-break: break-all;
  //margin-right: vw(18px);
  margin-right: vw(5px);
}

.accounts-new-details-us-text-3--width2 {
  //width: vw(127px);
  width: vw(80px);
  word-break: break-all;
}
.accounts-new-details-us-text-4 {
  font-size: vw(12px);
  line-height: vw(18px);
  @include fontSemiBold600;
  // color: $theme-text-color-1;
  color: $theme-text-color-white-49;
}
.accounts-new-details-us-text-5 {
  font-size: vw(12px);
  line-height: vw(18px);
  @include fontItalicPoppins;
  // color: $theme-text-color-1;
  color: $theme-text-color-white-49;
}
.accounts-new-details-us-text-3--width3 {
  width: vw(60px);
}
.accounts-new-details-us-table-div {
  height: 81%;
  overflow: auto;
  //padding-right: vw(20px);
  padding-right: vw(10px);

  table {
    width: 100%;
    // height: 100%;
  }
  tbody {
    height: 100%;
    // height: 100%;
  }

  tr {
    border-bottom: vw(1px) solid rgba(0, 0, 0, 0.1);
  }
  td {
    padding-top: vw(10px);
    padding-bottom: vw(10px);
  }
  .no_schedule_found {
    margin-top: vw(8px);
    text-align: center;

    .leads-new-inner-page-profile-row__colm2-btn {
      margin: auto;
      background: $theme-bg-dark-blue-to-purple-1;
      width: vw(150px);
      @include theme-button-height-and-radius-4;

      img {
        display: none;
      }
      span {
        color: white;
        font-size: vw(12px);
        line-height: vw(18px);
        @include fontSemiBold600;
        border-bottom: none;
        padding-left: vw(25px);
        text-transform: capitalize;
      }
    }
    height: 100%;

    .no_schedule_img {
      width: vw(197px);
      height: auto;
    }
  }
  .no_leads_found {
    // display: flex;

    height: 100%;
    text-align: center;
    .no_leads_img {
      width: vw(222px);
      height: vw(133px);
    }
    .leads-title-block-btn-red-bg {
      width: vw(150px);
      @include theme-button-height-and-radius-4;
      font-size: vw(12px);
      @include fontSemiBold600;
    }
  }
}

.no_schedule_found {
  .leads-new-inner-page-profile-row__colm2-btn span {
    letter-spacing: unset;
    text-transform: unset;
  }
}

.accounts-revenue-no-data-img {
  width: vw(249px);
  height: auto;
  margin-top: vw(37px);
  margin-bottom: vw(30px);
}

.accounts-new-details-us-table-div--leads {
  td {
    padding-top: vw(18px);
    padding-bottom: vw(18px);
    border-bottom: vw(2px) solid $theme-border-color-white-07;
  }
}

.accounts-new-details-leads-text-block {
  padding-left: vw(11px);
}

.accounts-new-details-leads-text-1 {
  font-size: vw(18px);
  line-height: vw(22px);
  @include fontSemiBold600;
  margin-bottom: vw(4px);
  color: $theme-text-color-white-79;
}

.accounts-new-details-leads-text-1--width1 {
  width: vw(200px);
  padding-right: vw(15px);
}

.accounts-new-details-leads-add-follow-up-btn {
  margin-left: vw(20px);
  width: vw(165px);
  @include theme-button-height-and-radius-4;
  color: $color-white;
  background: $theme-bg-blue-1;
  font-size: vw(13px);
  @include fontSemiBold600;
  border: 0;
}

// accounts-view-detail-new-colm2
.accounts-view-detail-new-colm2 {
  // background: #ffffff;
  // box-shadow: vw(1px) vw(3px) vw(20px) rgba(0, 0, 0, 0.14);
  padding: vw(42px) vw(30px) vw(60px) vw(30px);
  // min-height: 100vh;
  min-height: vw(1011px);
  margin-top: vw(60px);
  margin-right: vw(20px);

  .accounts-new-details-us-text-3 {
    color: $theme-text-color-1;
  }
}

.accounts-view-detail-new-colm1 {
  margin-right: vw(38px);
  padding-top: vw(27px);
  padding-left: vw(70px);
}

.accounts-view-detail-new-colm2__fold1 {
  text-align: center;
}

.accounts-view-detail-new-colm2__fold1-img-block {
  width: vw(100px);
  height: vw(98px);
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  margin-bottom: vw(15px);
  position: relative;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #483ca6 0deg,
    #a18eff 360deg
  );

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .accounts-view-detail-new-colm2__fold1-img-block-button {
    width: vw(38px);
    height: vw(38px);
    border-radius: 100%;
    border: vw(1px) solid #dce0ec;
    background-color: #f3f6ff;
    padding: vw(5px);
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: vw(18px);
      height: vw(18px);
    }
  }
}

.accounts-view-detail-new-colm2__fold1-text-1 {
  margin-bottom: vw(4px);
  color: $theme-text-color-white-79;
}

.accounts-view-detail-new-colm2__fold1-text-2 {
  color: $theme-text-color-white-60;
  font-size: vw(14px);
  line-height: vw(17px);
  @include fontMedium500;
  margin-bottom: vw(35px);

  .fa {
    font-family: "FontAwesome";
    margin-right: vw(9px);
  }
}

.accounts-view-detail-new-colm2__fold2-row {
  .leads-new-inner-page-profile-row__colm2-btn span {
    border-bottom: none;
    color: $theme-text-color-white-42;
  }
}

.accounts-view-detail-new-colm2__fold2-row-border-bottom {
  margin-top: vw(28px);
  margin-bottom: vw(46px);
  width: 100%;
  height: vw(2px);
  display: block;
  // background: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);
  background: $theme-bg-color-white-26;
  border-radius: vw(13px);
}
.account-add-notes-btn {
  width: vw(148px);
  height: vw(58px);
  @include theme-mixin-2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $theme-text-color-white-42;

  img {
    width: vw(14px);
    height: auto;
    margin-right: vw(8px);
  }
}
.account-note-icon {
  width: vw(22px) !important;
}
.account-gray-note-icon {
  width: vw(18px);
  margin-right: vw(13px);
}
.account-projected-revenue-icon {
  width: vw(29px) !important;
}
.account-leads-icon {
  width: vw(30px) !important;
}
// accounts-view-detail-new-colm2 fold3
.accounts-view-detail-new-colm2__fold3-gray-text {
  // font-size: vw(14px);
  // line-height: vw(21px);
  // @include fontBold700;
  // color: $theme-text-color-white-42;
  color: $theme-text-color-white-49;
  margin-bottom: vw(11px);
  // margin-bottom: vw(21px);

  img {
    // width: vw(18px);
    width: vw(24px);
    height: auto;
    margin-right: vw(9px);
  }
}

.accounts-view-detail-new-colm2__fold3-desc-div {
  padding: vw(11px) vw(1px) vw(43px) vw(46px);
}

// .accounts-new-details-us-text-1--black {
//   color: rgba(0, 0, 0, 0.8);
// }

// .accounts-new-details-us-text-1--light-blue {
//   color: rgba(67, 198, 172, 0.8);
// }

.accounts-view-detail-new-colm2__fold3-graph-desc-div {
  padding: vw(7px) vw(10px) vw(50px) vw(46px);
}
.accounts-view-detail-new-colm2__fold3-task-desc-div {
  // padding: vw(5px) vw(30px) vw(20px) vw(46px);
  padding: vw(21px) vw(10px) vw(20px) vw(33px);
  height: vw(160px);
  overflow-y: auto;
  //.accounts-new-details-us-text-3 {
  //  margin-bottom: vw(20px);
  //}
  .accounts-new-details-us-text-3 {
    color: $theme-text-color-white-42;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    word-break: break-all;
    width: 60%;
  }
  .fa-square {
    //color: rgba(196, 196, 196, 1);
    margin-right: vw(14px);
    color: #d1d7fc;
    // box-shadow: 0 0 vw(10px) rgba(0, 0, 0, 0.07);
    border-radius: vw(2px);
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }

  .no_notes_found {
    text-align: center;

    .no_notes_img {
      width: vw(130px);
      margin-bottom: vw(20px);
    }
  }
}
.account-edit-note-icon {
  width: vw(24px) !important;
}
.account-details-close-icon {
  width: vw(15px);
}
.accounts-view-detail-new-colm2__fold3-notes-div {
  padding-top: vw(10px);
  padding-bottom: vw(10px);
  // border-bottom: vw(1px) solid rgba(0, 0, 0, 0.1);
  border-bottom: vw(1px) solid $theme-border-color-white-07;
}
.account-details-notes-edit-btn {
  font-size: vw(15px);
  background: transparent;
  padding: 0;
  // color: rgba(0, 0, 0, 0.37);
  // margin-right: vw(15px);
  margin-right: vw(23px);
  border: none;
  color: $theme-text-color-white-54;
}
.view_account_note {
  // margin-right: vw(10px);
  // color: $theme-text-color-white-56;
  width: vw(20px);
  margin-right: vw(23px);
  img {
    width: 100%;
    height: auto;
  }
}
.view_account_note:hover {
  cursor: pointer;
}
.display_notes_section {
  img:hover {
    cursor: pointer;
  }
  .account-notes-back-img {
    width: vw(60px);
    height: auto;
    margin-top: vw(10px);
  }
  .notes-title {
    padding-top: vw(20px);
    padding-left: vw(10px);
    width: vw(300px);
  }
  .no-lead-found-text {
    @include fontItalicPoppins;
  }
  .account-notes-desc {
    font-size: vw(13px);
    line-height: vw(19.5px);
    @include fontLight300;
    color: $theme-text-color-1;
    padding-top: vw(30px);
  }
}
.accounts-new-details-us-blue-circle-icon-block-multiImg {
  margin-right: vw(11px);

  .accounts-new-details-us-blue-circle-icon-block:first-child {
    margin-left: 0;
  }

  .accounts-new-details-us-blue-circle-icon-block {
    margin-left: vw(-41px);
  }
}

.accounts-new-details-us-text-3--width-colm2-fold3 {
  width: vw(112px);
}

// form card
.account-details-new-form-card-block {
  .accounts-profile-display-fields-text-block-1,
  .accounts-profile-display-fields-text-block-2,
  .accounts-profile-display-fields-text-block-salesperson,
  .accounts-profile-display-fields-text-block-contactLeads {
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset;
    margin-top: vw(11px);
  }

  .add-lead-label {
    // color: $theme-text-color-white-42;
    color: $theme-text-color-white-49;
    font-size: vw(14px);
    line-height: vw(21px);
    @include fontBold700;
    margin-bottom: 0;

    img {
      display: none;
      // width: vw(16px);
      // height: auto;
      // margin-right: vw(11px);
    }
  }

  .accounts-profile-display-fields-outer-block {
    margin-bottom: vw(20px);
  }

  .leads-new-details-profile-form
    .leads-new-circle-block
    .leads-new-circle-block__circle {
    top: 0;
    left: 0;
  }

  .leads-new-details-profile-form .add-lead-input-field {
    margin-top: vw(20px);
    // margin-left: vw(30px);
    margin-left: 0;
  }

  .new-edit-lead-form-row__emp-block .add-lead-input-field {
    max-width: 85%;
  }
  .new-edit-lead-form-row__emp-block {
    .add-lead-form-field-block--height {
      height: vw(500px);
      overflow-y: auto;
    }
    .account-credibility-div {
      // margin-left: vw(30px);
      margin-left: 0;
      .accounts-new-credibility-title {
        color: $theme-text-color-white-42;
        font-size: vw(14px);
      }
      .set_level_and_status_of_lead--edit-account {
        margin-left: vw(10px);
        margin-bottom: vw(40px);
      }
    }
    .add-tag-img-div {
      right: 0;
    }
    .edit-account-added-tag-name-outer-div {
      padding-bottom: 0;
    }
  }
}
.account-details-new-form-card-block {
  .leads-tags-in-input-field__tags {
    width: max-content;
    padding-top: vw(8px) vw(16px);

    &:nth-child(odd) {
      // border: vw(1px) solid #000000;
      // border-radius: vw(7px);
      @include theme-mixin-green-tag;
    }
    &:nth-child(even) {
      // border: vw(1px) solid #000000;
      // border-radius: vw(7px);
      @include theme-mixin-blue-tag;
    }
  }
}
.note-add-icon-img-div {
  width: vw(27px);
  height: auto;
  margin-right: vw(22px);
  img {
    width: 100%;
    height: 100%;
  }
}

.accounts-view-detail-new-colm2 {
  position: relative;

  .lead-new-detail-edit-button-div {
    right: vw(30px);
    top: vw(30px);
  }
}

.accounts-new-details-title-div {
  position: relative;

  .lead-new-detail-edit-button-div {
    right: 0;
    top: 0;
  }
}
.lead-new-detail-edit-button-div--accounts-details {
  right: vw(200px);
  top: vw(20px);
}
.edit-account-add-tag-div {
  .font-24-semibold {
    font-size: vw(14px) !important;
  }
  .font-18-regular {
    font-size: vw(13px);
  }
}
.edit-account-form-row--new-profile {
  .font-24-semibold {
    font-size: vw(14px) !important;
  }
  .add-lead-input-field {
    margin-top: vw(20px) !important;
  }
  .font-18-regular {
    font-size: vw(13px);
  }
  textarea {
    height: vw(80px);
  }
}

.leads-new-details-profile-cancel-btn--account-new-profile {
  margin-left: vw(50px);
  color: $theme-text-color-white-79;
  // @include theme-mixin-3;
}
.leads-new-details-profile-save-btn--account-new-profile {
  @include theme-blue-bg-btn;
}

.account-profile-display-main-row {
  padding-top: vw(30px);

  .lead-new-detail-edit-button-div--deals-details {
    top: vw(30px);
  }
}
.account-details-conatcts-leads-card-title-div {
  @include theme-letter-spacing-28-uppercase;
  color: $theme-text-color-white-42;
  padding-bottom: vw(26px);
  // width: 100%;
  width: vw(1718px);
  padding-top: vw(19px);
}
.account-details-conatcts-leads-card-title-1 {
  width: 26%;
  padding-left: vw(120px);
}
.account-details-conatcts-leads-card-title-2 {
  width: 18%;
  padding-left: vw(40px);
}
.account-details-conatcts-leads-card-title-3 {
  width: 10%;
  padding-left: vw(40px);
}
.account-details-conatcts-leads-card-title-4 {
  width: 23%;
  padding-left: vw(20px);
}
.account-details-conatcts-leads-card-title-5 {
  width: 23%;
  // padding-left: vw(40px);
}
.account-profile-display-contactLeads-outer-row {
  position: relative;
}
.account-details-acc-credibility-and-status-div {
  padding-left: vw(20px);

  img {
    display: block !important;
  }
  .accounts-profile-display-fields-text-block-1 {
    padding-left: vw(35px);
  }
}
.account-credibility-icon {
  width: vw(18px);
  height: auto;
  margin-right: vw(15px);
}
.account-status-icon {
  width: vw(16px);
  height: auto;
  margin-right: vw(7px);
}
.account-billing-icon {
  width: vw(20px);
  height: auto;
  margin-right: vw(15px);
}
.account-shipping-address-icon {
  width: vw(15px);
  height: auto;
  margin-right: vw(17px);
}
.account-tags-icon {
  width: vw(16px);
  height: auto;
  margin-right: vw(17px);
}
.account-details-custom-fileds-icon {
  width: vw(19px);
  height: auto;
  margin-right: vw(9px);
}
.accounts-profile-display-fields-outer-block--custom-fileds {
  padding-left: vw(40px);
  img {
    display: block !important;
  }
}
.account-details-custom-fields-lable-icon {
  width: vw(15px);
  height: auto;
  margin-right: vw(7px);
}
.new-edit-lead-form-row__emp-block--accounts {
  .add-lead-input-field {
    max-width: 85%;
  }
}
