/*====================================
          gradients
=====================================*/

// users
.sa-users-gradient1 {
  background: linear-gradient(
    305deg,
    #dca3ff 0%,
    #90c5ff 51%,
    #60fbee 100%,
    #5dffed 100%
  );
}

.sa-users-gradient2 {
  background: linear-gradient(305deg, #fbc2eb 0%, #a6c1ee 100%);
}

// workspaces
.sa-workspaces-gradient1 {
  background: linear-gradient(
    305deg,
    #dca3ff 0%,
    #90c5ff 51%,
    #60fbee 100%,
    #5dffed 100%
  );
}

.sa-workspaces-gradient2 {
  background: linear-gradient(305deg, #00d0bd 0%, #7dfddc 56%, #83ffdd 100%);
}

.sa-workspaces-gradient3 {
  background: linear-gradient(305deg, #9890e3 0%, #b1f4cf 100%);
}

.sa-workspaces-gradient4 {
  background: linear-gradient(305deg, #7f7fd5 0%, #86a8e7 43%, #91eae4 100%);
}

.sa-workspaces-gradient5 {
  background: linear-gradient(125deg, #be93c5 0%, #5b86e5 100%);
}
