/*====================================
          pagination
=====================================*/

.sa-pagination {
  margin-top: mvw(30px);
  margin-bottom: mvwDivide(20px);
  width: 100%;

  .rc-pagination {
    width: 100%;
    font-size: mvwDivide(19px);
    @include fontRegular400;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc-pagination-item {
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin-right: mvwDivide(30px);
    min-width: mvwDivide(40px);
    height: mvwDivide(40px);
    line-height: mvwDivide(41px);
    color: $theme-text-color-1;
    @include fontRegular400;
    background-color: transparent;
  }

  .rc-pagination-item-active {
    background-color: #6266e1;
    color: $color-white;
  }

  .rc-pagination-item.rc-pagination-item-active:hover a {
    color: $color-white;
  }

  .rc-pagination-item:hover a {
    color: #6266e1;
  }

  .rc-pagination-jump-prev:hover:after,
  .rc-pagination-jump-next:hover:after {
    color: #6266e1;
  }

  .rc-pagination-item:focus,
  .rc-pagination-prev:focus,
  .rc-pagination-next:focus,
  .rc-pagination-jump-prev:focus,
  .rc-pagination-jump-next:focus {
    outline: #6266e1 auto mvwDivide(2px);
  }

  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    border: 0;
    font-size: mvwDivide(24px);
    line-height: mvwDivide(41px);
    min-width: mvwDivide(40px);
    height: mvwDivide(40px);
    margin-right: mvwDivide(30px);
  }

  .rc-pagination-jump-prev:after,
  .rc-pagination-jump-next:after {
    font-size: mvwDivide(24px);
  }

  .rc-pagination-prev a,
  .rc-pagination-next a {
    color: $theme-text-color-black-to-white-1 !important;
  }
}
