.our_clients_template_two {
  flex-direction: column;
  padding: vw(50px);
  .our_clients_template_two__title {
    display: flex;
    width: 35%;
    height: 10%;
    align-items: center;
    padding-left: vw(40px);
  }
  .our_clients_template_two_headline {
    width: 90%;
    height: vw(79px);
    display: flex;
    align-items: center;
  }
  .our_clients_template_two__line {
    display: block;
    width: vw(5px);
    height: vw(40px);
    border-radius: vw(20px);
    margin: 0 vw(3px);
  }
  .our_clients_template_two_bottom {
    display: flex;
    padding: vw(50px) vw(10px) 0 vw(20px);
  }
  .our_clients_template_two_bottom_conatiner {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-end;
  }
  .our_clients_template_two_bottom_img {
    padding: vw(20px);
    width: 90%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .our_clients_template_two_bottom_text {
    width: 100%;
    height: vw(125px);
    padding: vw(10px) 0 vw(10px) 0;
    overflow: auto;
    display: flex;
  }
  .our_clients_template_two_bottom_conatiner--two {
    align-items: center;
  }
  .our_clients_template_two_bottom_conatiner--three {
    align-items: flex-start;
  }
}
