// meetings card content css
.dashboard-meetings-person-img {
  width: vw(75px);
  margin-right: vw(30px);
  border-radius: 50%;
}

.dashboard-meeting-time {
  font-size: vw(75px);
  //   line-height: vw(13px);
  @include fontBlack900;
  margin-top: vw(10px);
  margin-bottom: 0;
}

.dashboard-overview-blocks__meetingsCard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

// slider
.dashboardMeetingsSlider {
  .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #ffffff !important;
  }

  .slick-dots li button:before {
    opacity: 0.5 !important;
    color: #ffffff !important;
  }

  .slick-dots {
    bottom: vw(-28px) !important;
  }

  .slick-dots li {
    margin: 0 !important;
  }
}
