// command centre team

.cmd-centre-team-block {
  padding: vw(29px) vw(145px) vw(10px) vw(39px);
}

.cmd-centre-team-block-team-members__row {
  padding: vw(60px) vw(20px) 0 vw(310px);
  padding-left: 0;
  padding-right: 0;
  // justify-content: flex-start;
  justify-content: center;
}

.cmd-centre-team-block-team-members__img-text-block {
  cursor: pointer;
  margin-right: vw(20px);
}

.cmd-opacity-light {
  opacity: 0.5;
}
.lead-new-detail-edit-button--command-center {
  margin-right: vw(100px);
  font-size: vw(14px);
  width: vw(148px);
  @include theme-button-height-and-radius-1;
  @include theme-letter-spacing-28-uppercase;

  img {
    width: vw(25px);
    height: auto;
  }
}
