/* ===============================================================
                    
                            activity

================================================================== */

.ac-call-recording-title {
  display: flex;
  justify-content: center;
  margin-right: vw(13px);
  margin-bottom: vw(26px);

  .font-21-bold {
    color: $theme-blue-text-tab-color-2;
    border-bottom: vw(3px) solid $theme-blue-text-tab-color-2;
    backdrop-filter: blur(56px);
    border-radius: vw(2px);
  }
}

.activity-text-border-right--acCallLog {
  margin-left: vw(45px);
  margin-right: vw(45px);
}

.justify-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac-call-log-history-card {
  display: flex;
  padding: vw(22px) vw(45px);
  margin-right: vw(67px);
  border-bottom: vw(1px) solid rgba(112, 112, 112, 0.49);

  &:last-child {
    border-bottom: 0;
  }

  .ac-call-log-history-card__1 {
    width: vw(213px);
    padding-right: vw(30px);
  }

  .ac-call-log-history-card__2 {
    width: vw(263px);
    padding-right: vw(30px);
  }

  .ac-call-log-history-card__3 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.ac-call-recordings-content {
  padding-left: vw(49px);
}

.ac-call-recordings-blocks {
  display: flex;
  flex-wrap: wrap;
}

.ac-call-recording-card {
  @include theme-mixin-2;
  border-radius: vw(18px);
  position: relative;
  margin-right: vw(21px);
  margin-bottom: vw(55px);

  .ac-call-recording-card__overflow {
    width: vw(171px);
    //total height 221px = 201px + mt-10px + mb-10px
    height: vw(201px);
    margin: vw(10px) 0;
    overflow: auto;
    padding: 0 vw(10px);
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: vw(-23px);
  //   width: 100%;
  //   height: vw(23px);
  //   display: block;
  //   // box-shadow: 0 vw(5px) vw(50px) rgba(128, 128, 128, 0.16);
  //   background: rgba(0, 60, 255, 0.3);
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0, 60, 255, 0.3) 0%,
  //     rgba(154, 184, 255, 0.3) 82%
  //   );
  //   border-bottom-left-radius: vw(7px);
  //   border-bottom-right-radius: vw(7px);
  // }
}

.ac-call-recording-audio-img {
  margin-top: vw(58px);
  margin-bottom: vw(13px);
  width: vw(57px);
}

.ac-email-edit-dropdown-img--callRecording {
  position: absolute;
  right: vw(2px);
  top: vw(10px);
}
