.what_we_do_template_one {
  //flex-direction: column;
  .what_we_do_template_one__left__line {
    width: vw(55px);
    height: 100%;
    border-radius: vw(10px) 0 0 vw(10px);
  }
  .what_we_do_template_one__container {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .what_we_do_template_one__top {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    padding-left: vw(50px);

    .what_we_do_template_one__top_black_dot {
      display: block;
      height: vw(22px);
      width: vw(22px);
    }

    .what_we_do_template_one__top_headline {
      display: flex;
      height: vw(79px);
      width: 70%;
      align-items: center;
    }
  }
  .what_we_do_template_one__bottom {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: vw(100px);

    .what_we_do_template_one__bottom_blocks {
      display: flex;
      height: vw(300px);
      width: 23%;
      flex-direction: column;
      //justify-content: space-between;
      .what_we_do_template_one_icon_block {
        display: flex;
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      .what_we_do_template_one_text_block {
        display: flex;
        height: 25%;
        width: 100%;
      }
    }
  }
}
