.what_we_do_template_two {
  flex-direction: column;
  padding: vw(50px) vw(80px) vw(50px) vw(80px);
  .what_we_do_template_two__top {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    padding-left: vw(50px);
    .what_we_do__top__headline {
      display: flex;
      height: vw(72px);
      width: 40%;
      align-items: center;
    }
    .what_we_do_two__top__line {
      display: block;
      width: vw(5px);
      border-radius: vw(20px);
      height: 55%;
      margin-left: vw(10px);
    }
  }
  .what_we_do_template_two__bottom {
    padding-top: vw(20px);
    margin-top: vw(50px);
    display: flex;
    height: 40%;
    width: 100%;
    padding-left: vw(20px);
    padding-right: vw(20px);
    flex-direction: column;
    justify-content: space-between;
    .what_we_do_template_two__bottom_blocks {
      display: flex;
      height: 32%;
      width: 100%;
      justify-content: space-between;
      .what_we_do_template_two__bottom_blocks_small {
        display: flex;
        height: 100%;
        width: vw(440px);
        .what_we_do_template_two__bottom_blocks__left {
          display: flex;
          height: 100%;
          width: 30%;
        }
        .what_we_do_template_two__bottom_blocks__right {
          display: flex;
          height: 100%;
          width: 80%;
          justify-content: space-around;
          //align-items: flex-start;
          flex-direction: column;
          padding-right: vw(30px);

          .what_we_do_template_two__bottom_blocks__right_headline {
            display: flex;
            word-break: break-all;
            height: 40%;
            width: 100%;
          }
          .what_we_do_template_two__bottom_blocks__right_para {
            display: flex;
            word-break: break-all;
            padding-top: vw(5px);
            height: 60%;
            width: 100%;
          }
        }
      }
    }
  }
  .text_component_main_container .cke_editable {
    padding-left: vw(1px);
  }
}
