.account-new-cards-container {
  // padding: 0 vw(123px) vw(115px) vw(142px);
  padding: 0 vw(123px) vw(115px) vw(85px);
}

.accounts-new-colm1 {
  padding-top: vw(5px);
}

.accounts-new-colm1-card,
.accounts-new-colm2-card {
  @include theme-mixin-2;
}

.accounts-new-colm1-card {
  width: vw(1085px);
  overflow: auto;
  padding: vw(33px) vw(19px) vw(15px) vw(21px);
  margin-right: vw(31px);
  margin-bottom: vw(20px);
  position: relative;
  min-height: vw(174px);
  height: vw(210px);

  // &::before {
  //   content: "";
  //   width: vw(7px);
  //   height: 80%;
  //   display: block;
  //   background: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);
  //   border-radius: vw(12px);
  //   position: absolute;
  //   left: 0;
  //   top: 10%;
  // }
}

.accounts-new-colm2-card {
  width: vw(612px);
  height: vw(283px);
  overflow: auto;
  padding: vw(35px) vw(25px) vw(12px) vw(35px);
  margin-bottom: vw(25px);
  //width: vw(541px);
}

// .accounts-new-colm2-card--pin {
//   height: vw(257px);
// }

// card
.accounts-new-colm1-card__row1 {
  // border-bottom: vw(1px) solid rgba(0, 0, 0, 0.12);
  border-bottom: vw(1px) solid $theme-border-color-grey-1;
  padding-bottom: vw(8px);
  margin-bottom: vw(14px);
}

.account-new-card-profile-img-block {
  width: vw(60px);
  height: vw(60px);
  margin-right: vw(23px);
  border-radius: 100%;
  //filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.102));

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.account-new-card-owner-profile-img-block {
  width: vw(29px);
  height: vw(29px);
  margin-right: vw(7px);
  margin-left: vw(10px);
  border-radius: 100%;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.account-new-card-graph-block {
  width: vw(92px);
  height: vw(55px);
  margin-right: vw(16px);
  overflow-y: auto;

  img {
    width: inherit;
    height: inherit;
  }
}

.accounts-new-acc-name {
  // color: $theme-text-color-white-23;
  color: $theme-text-color-white-79;
  font-size: vw(20px);
  line-height: vw(30px);
  @include fontMedium500;
  margin-bottom: vw(3px);
}

.accounts-new-card-gray-text {
  color: $theme-text-color-white-42;
  font-size: vw(14px);
  line-height: vw(21px);
  @include fontSemiBold600;
  margin-right: vw(7px);
  //margin-right: vw(5px);
  margin-bottom: vw(3px);

  .fa-circle {
    // color: #572f85;
    font-size: vw(7px);
    font-family: "FontAwesome";
    margin-right: vw(5px);
    vertical-align: middle;
    color: $theme-text-color-blue-2;
  }
}

.accounts-new-text-count {
  // color: rgba(0, 0, 0, 0.74);
  font-size: vw(21px);
  line-height: vw(31px);
  @include fontExtraBold800;
  margin-right: vw(3px);
  margin-bottom: vw(3px);
  color: $theme-text-color-white-79;
}

.accounts-new-text-count--blue ,
  // color: rgba(170, 184, 255, 0.8);

  .accounts-new-text-count--yellow {
  // color: rgba(255, 208, 0, 0.8);

  color: $theme-text-color-white-79;
}

.accounts-new-colm1-card__row1 {
  padding: 0 vw(15px) vw(10px) 0;
}

.accounts-new-colm1-card__row2 {
  //padding: 0 vw(108px) 0 vw(27px);
  padding: 0;
  padding-top: vw(10px);
}

.accounts-new-colm1-card__row2__owner-name-block {
  width: vw(109px);
  word-break: break-all;
  margin-right: vw(10px);

  .accounts-new-card-gray-text {
    color: $theme-text-color-white-79;
  }
}

.accounts-new-colm2-card__title-row {
  .accounts-new-card-gray-text {
    @include theme-letter-spacing-10-uppercase;
  }
}

.accounts-new-acc-name-text-block {
  width: vw(151px);
  word-break: break-all;
  margin-right: vw(31px);
}

.accounts-new-card-gray-text--project-revenue {
  margin-left: vw(16px);
}

.gradient-block-container--accounts-new {
  padding: vw(37px) vw(18px) vw(12px) vw(25px);

  .leads-gradient-block {
    width: vw(260px);
    height: vw(133px);
    margin-right: vw(17px);
    @include theme-mixin-3;
  }

  .leads-gradient-block:last-child {
    margin-right: 0;
  }
}

// revenue
.accounts-new-revenue-card-icon-block {
  display: none;
  // width: vw(35px);
  // margin-right: vw(18px);

  // img {
  //   width: inherit;
  //   height: auto;
  // }
}

// colm2 card
.accounts-new-colm2-card__title-row {
  width: 100%;
  margin-bottom: vw(21px);
}

.accounts-new-pinned-card-edit-button {
  width: vw(35px);
  border-radius: 100%;
  // border: none;
  // background-color: transparent;
  padding: 0;
  @include theme-mixin-2;

  img {
    width: inherit;
    height: auto;
  }
}

.accounts-new-colm2-card-pin-card {
  width: vw(264px);
  padding: vw(11px) vw(22px);
  color: $theme-text-color-white-23;
  background: #e3eaff;
  border-radius: vw(14px);
  margin-right: vw(11px) !important;
  margin-bottom: vw(11px);
  position: relative;
}

.accounts-new-colm2-card-pin-card__remove-icon-block {
  width: vw(25px);
  height: vw(25px);
  border-radius: 100%;
  position: absolute;
  right: vw(-5px);
  top: vw(-5px);
  opacity: 0.8;
  padding: 0;
  border: none;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.accounts-new-colm2-card-pin-card__img-block {
  width: vw(45px);
  height: vw(45px);
  margin-right: vw(17px);
  border-radius: 100%;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.accounts-new-colm2-card-pin-card__text {
  word-break: break-all;
}

// account-details-new-title-block
.account-details-new-title-block {
  padding: vw(22px) vw(10px) vw(22px) vw(73px);
  // background: $theme-account-details-bg-color;
}

// accounts-new-colm2-card-graph-div
.accounts-new-colm2-card-graph-div {
  height: 75%;
  overflow-y: auto;
}
//edit account
.edit-account-form-row--edit-account {
  .add-lead-label {
    position: relative;

    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: vw(22px);
    //   height: vw(22px);
    //   background-image: url("../../img/accounts-new/account-new-blue-circle.svg");
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   left: vw(-30px);
    //   top: vw(4px);
    // }
  }
  textarea {
    margin-top: vw(50px) !important;
  }
}
.accounts-new-credibility-title {
  // position: relative;
  color: $theme-text-color-white-42;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   width: vw(22px);
  //   height: vw(22px);
  //   background-image: url("../../img/accounts-new/account-new-blue-circle.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   left: vw(-30px);
  //   top: vw(4px);
  // }
}
.account-credibility-div {
  // margin-left: vw(65px);
  margin-top: vw(40px);
}
.set_level_and_status_of_lead--edit-account {
  margin-right: vw(20px);
  margin-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: vw(79px);

  button {
    min-width: vw(114px);
    width: auto;
  }
}

.edit-account-add-tag-div {
  position: relative;
  margin-top: vw(40px);
  .add-lead-input-field {
    margin-top: vw(50px);
  }
  .add-tag-img-div {
    position: absolute;
    bottom: vw(25px);
    right: vw(-50px);
    width: vw(39px);
    height: auto;

    img {
      width: 100%;
      height: 100%;
      // box-shadow: 0 vw(3px) vw(6px) rgba(128, 128, 128, 0.15);
      border-radius: 50%;
    }
  }
  .representative-recent-img-text-block {
    margin-left: 0;
  }
}
.edit-account-added-tag-div {
  margin-top: vw(50px);
  margin-left: vw(65px);
  .edit-account-font-24-medium-italic {
    font-size: vw(24px);
    line-height: vw(36px);
    @include fontMediumItalicPoppins;
    margin-bottom: vw(32px);
  }
}
.edit-account-added-tag-name-outer-div {
  padding-bottom: vw(60px);
}
.edit-account-added-tag-name-div {
  width: vw(127px);
  min-height: vw(37px);
  margin-right: vw(12px);
  font-size: vw(18px);
  line-height: vw(27px);
  @include fontRegular400;
  color: $theme-text-color-1;
  border: vw(1px) solid #303030;
  border-radius: vw(10px);
  padding: vw(8px) vw(20px);
  padding-bottom: 0;
  word-break: break-all;
  display: flex;
  align-items: flex-start;
  margin-bottom: vw(10px);

  span {
    width: 95%;
  }
  button {
    background: transparent;
    border: none;
    padding: 0;
    padding-left: vw(10px);

    i {
      color: #848484;
      font-size: vw(20px);
    }
  }
}
.toggle--edit-account {
  display: flex;
  align-items: center;
  margin-bottom: vw(50px);
  margin-top: vw(30px);

  span {
    font-size: vw(18px);
    line-height: vw(27px);
    @include fontBold700;
    // color: rgba(48, 48, 48, 0.45);

    b {
      // color: rgba(48, 48, 48, 1);
      @include fontBold700;
    }
  }
  .toggle-chk-circle {
    width: vw(118px);
    height: vw(45px);
    // background: rgba(196, 196, 196, 0.41);
    // border-radius: vw(33px);
  }

  input:checked + .toggle__switch:after,
  .toggle__switch:after {
    width: vw(30px);
    height: vw(30px);
    // background-color: $theme-text-color-dark-blue-to-white-1 !important;
    //// box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  }
  .toggle__switch {
    &:after {
      left: calc(100% - 2vw);
    }
  }
}
.no-account-found-div {
  width: vw(1012px);
  height: vw(590px);
  // background: $theme-tab-bg-color-1;
  // box-shadow: vw(-5px) vw(5px) vw(4px) rgba(200, 200, 207, 0.2),
  //   vw(5px) vw(-5px) vw(10px) rgba(207, 207, 221, 0.2),
  //   vw(-5px) vw(-5px) vw(10px) rgba(254, 254, 255, 0.9),
  //   inset -1px -1pxvw(2px)rgba(244, 244, 246, 0.5);
  text-align: center;
  // border-radius: vw(14px);
  margin-right: vw(25px);
  padding-top: vw(50px);
  margin-bottom: vw(20px);
  @include theme-mixin-2;

  img {
    width: vw(400px);
    height: auto;
    margin-bottom: vw(41px);
  }
}
.no-account-found-text {
  font-size: vw(16px);
  line-height: vw(24px);
  @include fontMedium500;
  margin-bottom: vw(27px);
}
.accumulated-no-data-found-div {
  text-align: center;
  img {
    width: vw(277px);
    height: auto;
    margin-top: vw(10px);
    margin-bottom: vw(25px);
  }
  .no-lead-found-text {
    margin-bottom: 0;
  }
}
.account-new-no-deals-found-div {
  text-align: center;
  img {
    width: vw(213px);
    height: auto;
    margin-bottom: vw(30px);
  }
  .no-lead-found-text {
    margin-bottom: 0;
  }
}
.set_level_and_status_of_lead--edit-account--add {
  margin-left: vw(60px);
}
// .edit-account-add-tag-div--edit {
//   position: relative;
// &::after {
// position: absolute;
// content: "";
// width: vw(22px);
// height: vw(22px);
// background-image: url("../../img/accounts-new/account-new-blue-circle.svg");
// background-size: contain;
// background-repeat: no-repeat;
// left: vw(30px);
// top: vw(4px);
// }
// }
.customModal--addLead--edit-account {
  width: vw(1300px) !important;
}
.account-card-button {
  width: vw(140px);
  @include theme-button-height-3;
  @include theme-mixin-2;
  font-size: vw(14px);
  @include fontMedium500;
  color: $theme-text-color-white-79;
}
.accounts-new-card-gray-text--closed {
  font-size: vw(12px);
  color: $theme-text-color-white-79;
}
.accounts-new-card-gray-text--date {
  font-size: vw(13px);
  color: $theme-text-color-white-79;
}
.add-account-toggle {
  //padding-left: vw(60px);
  // padding-left: vw(70px);
  margin-bottom: vw(50px);

  label {
    // color: #707070;
    color: $theme-text-color-white-79;
  }

  .toggle-chk-circle {
    // width: vw(41px) !important;
    // height: vw(18px) !important;
    width: vw(68px) !important;
    height: vw(34px) !important;
    // background: #c4c4c4 !important;
    //background: rgba(196, 196, 196, 0.13) !important;
    border-radius: vw(100px) !important;
    box-shadow: none;
    background: $theme-toggle-bg;
  }

  //input:checked + .toggle-chk-circle {
  //  background: #c4c4c4 !important;
  //}
  input:checked + .toggle__switch:after,
  .toggle__switch:after {
    box-shadow: 0 0 0 !important;
    left: calc(100% - 1.6vw) !important;
    // background-color: $theme-toggle-check-bg !important;
  }
  .toggle__switch {
    &:after {
      width: vw(23px) !important;
      height: vw(23px) !important;
      left: 10% !important;
      // background-color: white !important;
      // background-color: $theme-toggle-check-bg !important;
      border-radius: vw(100px) !important;
    }
  }
}
.accounts-new-card-edit-card-img {
  width: vw(5px);
  height: vw(38px);
  cursor: pointer;
}

.rc-button-edit-account {
  font-size: vw(18px);
  line-height: vw(27px);
  @include fontRegular400;
  color: $theme-text-color-white-79;
  padding: 0;
  border: none;
  background: transparent;

  &:hover {
    color: $theme-text-color-on-dropdown-hover;
  }
}
.add-account-custom-fileds-input {
  margin-left: vw(10px);
  label {
    font-size: vw(18px);
    @include fontSemiBold600;
  }
}
.edit-account-form-row--new-profile--about {
  .is-invalid {
    padding-left: 0 !important;
  }
}
.leads-new-datepicker-search-block--account-new-search {
  // padding-left: vw(140px);
  padding-left: vw(80px);
  margin-bottom: vw(50px);
}
