/* ===============================================================
                    
                    forget password
                    
================================================================== */

.width-587 {
  width: vw(587px) !important;
}
.forget-password-block {
  width: 100%;
  //border-radius: vw(20px);
  // box-shadow: 0 vw(4px) vw(35px) rgba(69, 21, 51, 0.13);
  // backdrop-filter: blur(300px);
  // border-radius: vw(30px) vw(30px) vw(15px) vw(15px);
  // background: $theme-bg-color-white-03;

  @include theme-mixin-2;
  border-radius: vw(58px);
  //.color-gray {
  //  color: rgba(48, 48, 48, 0.5);
  //}

  .width-370 {
    width: vw(370px);
  }

  .font-24-semibold {
    @include fontBold700;
    // padding-bottom: vw(76px);
    text-align: center;
    color: $theme-text-color-white-79;
    position: relative;
    border-bottom: vw(1px) solid $theme-border-color-white-22;
    padding-bottom: vw(37px);
  }
}

.forget-password-title-block {
  //background-color: rgba(249, 222, 190, 1);
  //// box-shadow: 0 0 vw(50px) rgba(128, 128, 128, 0.16);
  //border-radius: vw(20px) vw(20px) 0 0;
  //padding: vw(52px) vw(52px) vw(38px) vw(52px);
  padding: vw(52px) vw(52px) vw(45px) vw(84px);
  position: relative;
  //color: rgba(84, 52, 159, 1);
  // color: $theme-text-color-dark-blue-to-white-42;

  p {
    color: $theme-text-color-1;
    padding-top: vw(37px);
  }
}

.forget-password-content-block {
  //background-color: rgba(249, 222, 190, 1);
  //// box-shadow: 0 0 vw(50px) rgba(128, 128, 128, 0.16);
  //border-radius: 0 0 vw(20px) vw(20px);
  //padding: vw(71px) vw(58px) vw(50px) vw(57px);
  padding: 0 vw(107px) vw(60px) vw(84px);
  color: $theme-text-color-white-80;
  text-align: center;

  .width-370 {
    margin: auto;
  }

  .text-right {
    text-align: center !important;
  }

  button {
    // margin: auto;
    @include theme-mixin-blue-bg-with-color;
    margin-top: vw(50px);
  }
}

.forget-password-content-block {
  .form-control-new {
    width: 100%;
    //border-bottom-color: rgba(84, 52, 159, 0.55) !important;
    border-bottom-color: $theme-text-color-blue-to-white !important;
  }

  input {
    // font-size: vw(18px) !important;
    @include fontMedium500;
    color: $theme-text-color-blue-to-white !important;

    // &::placeholder {
    //   color: rgba(84, 52, 159, 0.55) !important;
    // }
  }

  button {
    font-size: vw(18px);
    width: vw(142px);
    height: vw(68px);
  }

  .bg-white-btn {
    //border: vw(1px) solid #54349f;
    background: transparent;
    //color: $theme-text-color-blue-to-white;

    //new css
    // border: vw(1px) solid $theme-bg-dark-blue-to-purple-1;
    //
    // border-radius: vw(33px);
    // color: $theme-text-color-dark-blue-to-white-42;
    color: $theme-text-color-grey;
    @include theme-mixin-2;

    // &:focus {
    //   outline: vw(5px) auto #502eff !important;
    // }
  }
  .forget-password-send-btn {
    @include theme-mixin-blue-bg-with-color;
  }
}

.p-30-41 {
  padding: vw(41px) vw(30px);
}

.p-30 {
  padding: vw(30px);
}
