.au_template_two {
  padding-top: vw(35px);
  padding-left: vw(60px);
  padding-bottom: vw(52px);
  padding-right: vw(60px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.about_us_template_two__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-break: break-word;
  overflow: auto;
  width: 30%;
  height: 20%;
  //align-items: center;

  .about_us_template_two__top-headline {
    display: flex;
    height: vw(50px);
    align-items: center;
    justify-content: flex-start;
    width: 90%;
  }

  .au_template_two__headline_line {
    display: block;
    width: vw(5px);
    height: vw(50px);
    border-radius: vw(20px);
    margin-left: vw(20px);
  }
}
.about_us_template_two__bottom {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  padding-left: vw(20px);
  padding-right: vw(20px);
  padding-top: vw(20px);
}
.about_us_template_two__bottom-img-container {
  width: 35%;
  //margin: 0 vw(136px) vw(105px) vw(10px);
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.about_us_template_two__bottom-right-container {
  width: 65%;
  height: 90%;
  //width: vw(611px);
  //height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: vw(20px);
}
.about_us_template_two__right-para-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding-bottom: vw(50px);
}
