/* ===============================================================
                    
                    forget password
                    
================================================================== */

.width-587 {
  width: mvwDivide(587px) !important;
}
.forget-password-block {
  width: 100%;
  border-radius: mvwDivide(20px);

  .color-gray {
    color: rgba(48, 48, 48, 0.5);
  }

  .width-370 {
    width: mvwDivide(370px);
  }
}

.forget-password-title-block {
  background-color: rgba(249, 222, 190, 1);
  // box-shadow: 0 0 mvwDivide(50px) rgba(128, 128, 128, 0.16);
  border-radius: mvwDivide(20px) mvwDivide(20px) 0 0;
  padding: mvwDivide(52px) mvwDivide(52px) mvwDivide(38px) mvwDivide(52px);
  position: relative;
  color: rgba(84, 52, 159, 1);
}

.forget-password-content-block {
  background-color: rgba(249, 222, 190, 1);
  // box-shadow: 0 0 mvwDivide(50px) rgba(128, 128, 128, 0.16);
  border-radius: 0 0 mvwDivide(20px) mvwDivide(20px);
  padding: mvwDivide(71px) mvwDivide(58px) mvwDivide(50px) mvwDivide(57px);
}

.forget-password-content-block {
  .form-control-new {
    width: 100%;
    border-bottom-color: rgba(84, 52, 159, 0.55) !important;
  }

  input {
    // font-size: mvwDivide(18px) !important;
    @include fontMedium500;
    color: $theme-text-color-blue-to-white !important;

    &::placeholder {
      color: rgba(84, 52, 159, 0.55) !important;
    }
  }

  .bg-white-btn {
    border: mvwDivide(2px) solid #54349f;
    background: transparent;
    color: $theme-text-color-blue-to-white;

    // &:focus {
    //   outline: vw(5px) auto #502eff !important;
    // }
  }
}

.p-30-41 {
  padding: mvwDivide(41px) mvwDivide(30px);
}

.p-30 {
  padding: mvwDivide(30px);
}
