/*============================
    Employees CSS
=============================*/

.employees-overview-container {
  padding-left: mvwDivide(141px);
  padding-top: mvwDivide(36px);
}
.fa-search,
.fa-list:hover {
  cursor: pointer !important;
}

/*==========================
  Employees Block veiw css
============================*/
.employees-block-view-conatiner {
  padding-left: mvwDivide(41px) !important;
  padding-right: mvwDivide(41px) !important;
  margin-top: mvwDivide(30px);
  margin-bottom: mvwDivide(30px);

  .employees-profile_card {
    margin-bottom: mvwDivide(30px);
    img {
      height: mvwDivide(189px);
      width: mvwDivide(189px);
      border-radius: 100%;
      margin-bottom: mvwDivide(30px);
    }
  }
  h3 {
    font-size: mvwDivide(23px);
    line-height: mvwDivide(34px);
    @include fontMedium500;
    color: $theme-text-color-1;
  }
  p {
    font-size: mvwDivide(18px);
    line-height: mvwDivide(27px);
    @include fontRegular400;
    color: #707070;
  }
}

.employees-large-card-popup {
  .employees-large-card {
    background-color: $theme-bg-color-1;
    border-radius: mvwDivide(15px);
    padding: mvwDivide(21px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .employees-large-card__profileImg {
      height: auto;
      width: mvwDivide(200px);
      border-radius: 50%;
    }

    .button-section {
      margin-top: mvwDivide(14px);
      h2 {
        font-size: mvwDivide(26px);
        line-height: mvwDivide(39px);
        @include fontRegular400;
        color: $color-green-to-dark-green;
        margin-top: mvwDivide(15px);
        margin-bottom: mvwDivide(15px);
      }

      .btn-funnel-view--emp {
        // background: linear-gradient(
        //   180deg,
        //   rgba(0, 60, 255, 0.3) 0%,
        //   rgba(154, 184, 255, 0.3) 100%
        // );
        background: linear-gradient(
          306deg,
          rgba(80, 46, 255, 0.8) 0%,
          rgba(209, 199, 255, 0.8) 100%
        ) !important;
      }
    }

    .attendance {
      h3 {
        font-size: mvwDivide(80px);
        line-height: mvwDivide(90px);
        @include fontBold700;
        color: $theme-text-color-white-60;
        opacity: 0.6;
        margin-bottom: 0;
      }
      p {
        font-size: mvwDivide(20px);
        line-height: mvwDivide(31px);
        color: $theme-text-color-1;
        margin-top: 0;
      }
      .leaves-taken {
        margin-bottom: mvwDivide(35px);
      }
    }
    .lead-closure-rate-sphere {
      // display: flex;
      // align-items: center;
      margin-top: mvw(10px);

      p {
        font-size: mvwDivide(20px);
        line-height: mvwDivide(31px);
        color: $theme-text-color-1;
        margin-top: mvwDivide(15px);
      }

      .circle {
        display: block;

        border-radius: 50%;
        height: mvwDivide(239px);
        width: mvwDivide(239px);
        margin: 0;
        background-image: linear-gradient(
          to bottom,
          #dca3ff,
          #c9acff,
          #b7b3ff,
          #a7baff,
          #9cbfff,
          #8bc7ff,
          #7cceff,
          #71d5ff,
          #5ee0ff,
          #50ebff,
          #4ef6f8,
          #5dffed
        );
      }
    }
  }
}

/*==========================
    Employees List veiw css
============================*/
.employees-list-view-container {
  width: 100%;
  background-color: $theme-bg-color-1;
  border-radius: mvwDivide(15px);
  padding-left: mvwDivide(28px);
  padding-right: mvwDivide(28px);
  margin-bottom: mvwDivide(50px);
  // box-shadow: 0 0.15625vw 2.60417vw 0 rgba(0, 0, 0, 0.16);

  .table td {
    border-top: 0;
    border-bottom: mvwDivide(1px) solid rgba(48, 48, 48, 0.4);
    font-size: mvwDivide(21px);
    line-height: mvwDivide(31px);
    color: $theme-text-color-1;
    padding-top: mvwDivide(34px);
    padding-bottom: mvwDivide(34px);
  }
  .table td,
  .table th {
    padding: 0.75rem;
    vertical-align: baseline;
    border-top: transparent;
  }
  img {
    height: auto;
    width: mvwDivide(55px);
    margin-right: mvwDivide(22px);
  }
}
.edit-img-employee {
  height: auto !important;
  width: mvwDivide(30px) !important;
  margin-right: 0 !important;
  float: right;
}
.edit-img-employee-column {
  width: mvwDivide(10px) !important;
}

.employees-table-title {
  .name-heading {
    width: mvwDivide(790px);
    padding-left: mvwDivide(50px);
  }
  .position-heading {
    width: mvwDivide(340px);
  }

  .table,
  thead th {
    vertical-align: bottom;
    border-bottom: 0 !important;
    border-top: 0 !important;
    font-size: mvwDivide(24px);
    line-height: mvwDivide(35px);
  }
}

/*===========================
    employees card modal
=============================*/

.skylight-dialog {
  overflow: auto;
  width: 95% !important;
  min-height: mvwDivide(418px) !important;
  position: fixed;
  top: 20% !important;
  left: 2% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  background-color: rgb(255, 255, 255);
  border-radius: mvwDivide(15px) !important;
  z-index: 100;
  padding: 15px;
  // box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px, rgba(0, 0, 0, 0.28) 0px 4px 8px;
  transform: scale(1);
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 1200ms;
}

/*================================
     Employee Approval Card css
=================================*/
.employee-appreoval-card {
  margin-bottom: mvwDivide(30px);
  .card {
    background-color: $theme-bg-color-1;
    border-radius: mvwDivide(10px);
    padding: mvwDivide(30px);
    width: mvwDivide(526px);
    height: auto;
    border: none;
    // box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.16);
  }
  .card-header {
    display: flex;
    background-color: transparent;
    padding: mvwDivide(18px);
    border-bottom: mvwDivide(1px) solid #30303047;
  }
  .employee-appreoval-card__profile-img {
    height: auto;
    width: mvwDivide(75px);
    margin-right: mvwDivide(30px);
    border-radius: mvwDivide(50px);
  }
  h3 {
    font-size: mvwDivide(24px);
    line-height: mvwDivide(35px);
    color: $theme-text-color-1;
    @include fontBold700;
  }
  p {
    font-size: mvwDivide(21px);
    line-height: mvwDivide(31px);
    color: $theme-text-color-1;
    @include fontRegular400;
  }
  h4 {
    font-size: mvwDivide(21px);
    line-height: mvwDivide(31px);
    color: $theme-text-color-1;
    @include fontBold700;
  }
  .leave-type-and-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: mvwDivide(25px);
  }
  button {
    margin-top: mvwDivide(5px);
    width: mvwDivide(177px);
    height: mvwDivide(53px);
    border-radius: mvwDivide(28px);
    background-color: $theme-bg-color-1;
    color: $theme-text-color-1;
    border: mvwDivide(2px) solid #303030;
    font-size: mvwDivide(24px);
    line-height: mvwDivide(35px);
    @include fontSemiBold600;
  }
  .card-footer {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border-top: mvwDivide(1px) solid #30303047;
  }
}

.approval-pending-title {
  font-size: mvwDivide(24px);
  line-height: mvwDivide(35px);
  color: $theme-text-color-1;
  @include fontSemiBold600;
  margin-bottom: mvwDivide(30px);
}

/*==================================
      Set Employee Password
====================================*/

.customModal.set-password-modal {
  width: mvwDivide(803px) !important;
  // height: mvwDivide(398px) !important;
  padding: 0 !important;
  border-radius: mvwDivide(20px);
}

.set-employee-password {
  .heading {
    border-top-left-radius: mvwDivide(20px);
    border-top-right-radius: mvwDivide(20px);
    background-color: $theme-bg-color-1;
    padding-left: mvwDivide(50px);
    padding-top: mvwDivide(30px);
    padding-bottom: mvwDivide(30px);
    font-size: mvwDivide(24px);
    color: $theme-text-color-1;
    @include fontBold700;
  }
  .password-content {
    overflow: auto;
    height: mvwDivide(400px);
    background-color: hsla(0, 0%, 82.7%, 0.16);
    padding: mvwDivide(20px) mvwDivide(50px);

    .add-lead-input-field {
      margin: 0;
      background-color: transparent;
      border-bottom: vw(1px) solid #303030;
    }
    h3 {
      font-size: mvwDivide(24px);
      line-height: mvwDivide(35px);
      color: $theme-text-color-1;
      @include fontRegular400;
    }
    p {
      font-size: mvwDivide(18px);
      line-height: mvwDivide(27px);
      color: $theme-text-color-1;
      @include fontRegular400;
      margin-bottom: mvwDivide(20px);
    }

    button {
      width: mvwDivide(160px);
      height: mvwDivide(40px);
      border-radius: mvwDivide(20px);
      background-color: #6266e1;
      color: white;
      border: mvwDivide(2px) solid #303030;
      font-size: mvwDivide(21px);
      line-height: mvwDivide(31px);
      @include fontMedium500;
      float: right;
      border: none;
      margin-right: mvwDivide(35px);
    }
  }
}

.set-password-broken-link {
  .heading {
    border-top-left-radius: mvwDivide(20px);
    border-top-right-radius: mvwDivide(20px);
    background-color: $theme-bg-color-1;
    padding-left: mvwDivide(50px);
    padding-top: mvwDivide(30px);
    padding-bottom: mvwDivide(30px);
    font-size: mvwDivide(24px);
    color: $theme-text-color-1;
    @include fontBold700;
  }
  .password-content {
    overflow: auto;
    height: mvwDivide(200px);
    background-color: hsla(0, 0%, 82.7%, 0.16);
    padding: mvwDivide(20px) mvwDivide(50px);

    .add-lead-input-field {
      margin: 0;
      background-color: transparent;
      border-bottom: vw(1px) solid #303030;
    }
    h3 {
      font-size: mvwDivide(24px);
      line-height: mvwDivide(35px);
      color: $theme-text-color-1;
      @include fontRegular400;
    }
    p {
      font-size: mvwDivide(18px);
      line-height: mvwDivide(27px);
      color: $theme-text-color-1;
      @include fontRegular400;
      margin-bottom: mvwDivide(20px);
    }

    button {
      width: mvwDivide(160px);
      height: mvwDivide(40px);
      border-radius: mvwDivide(20px);
      background-color: #6266e1;
      color: white;
      border: mvwDivide(2px) solid #303030;
      font-size: mvwDivide(21px);
      line-height: mvwDivide(31px);
      @include fontMedium500;
      float: left;
      border: none;
      margin-right: mvwDivide(35px);
    }
  }
}

/*=====================================
    employee password set broken link
======================================*/
