.front_page_template_four-top_logo_area_container {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
}
.front_page_template_four-top_logo_area_container--outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.front_page_template_four__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.front_page_template_four__left {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  color: white;
  justify-content: flex-end;
  padding-left: vw(126px);
  padding-right: vw(10px);
}
.front_page_template_four__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  //padding-top: vw(50px);
  padding-right: vw(20px);
  padding-left: vw(20px);
}
.front_page_template_four__right--image-container {
  display: flex;
  width: 100%;
  height: 45%;
  //height: 50%;
  padding-right: vw(120px);
  justify-content: flex-start;
  align-items: center;
}
