.financial_analysis_template_one {
  display: flex;
  .financial_analysis_template_one_left_line {
    width: vw(55px);
    height: 100%;
    display: block;
    border-radius: vw(10px) 0 0 vw(10px);
  }
  .financial_analysis_template_one_right {
    width: 95%;
    display: flex;
    padding: vw(50px) vw(50px) vw(30px) vw(50px);
    align-items: flex-start;
  }
  .financial_analysis_template_one_left {
    width: 50%;
    padding: vw(30px) vw(40px) vw(10px) vw(30px);
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .financial_analysis_template_one_right_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: vw(30px) vw(30px) vw(30px) vw(30px);
  }
  .financial_analysis_template_one_right_top {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  .financial_analysis_template_one_dot {
    width: vw(22px);
    height: vw(22px);
    display: block;
  }
  .financial_analysis_template_one_right_headline {
    width: 95%;
    height: vw(79px);
    display: flex;
    align-items: center;
  }
  .financial_analysis_template_one_right_para {
    width: 100%;
    height: vw(130px);
    margin-top: vw(80px);
    padding: vw(20px);
    padding-left: vw(10px);
  }
}
