/* ===============================================================
                    
                    typography poppins

================================================================== */

@font-face {
  font-family: Poppins-ExtraLightItalic;
  src: url("../../assets/fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Poppins-LightItalic;
  src: url("../../assets/fonts/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("../../assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: Poppins-MediumItalic;
  src: url("../../assets/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Black;
  src: url("../../assets/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("../../assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url("../../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

/* ===============================================================
                    
                    typography worksans

================================================================== */

@font-face {
  font-family: WorkSans-Medium;
  src: url("../../assets/fonts/WorkSans/WorkSans-Medium.ttf");
}

/* ===============================================================
                    
                    typography roboto

================================================================== */

@font-face {
  font-family: Roboto-Medium;
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
}
/* ===============================================================
                    
                    typography opensans

================================================================== */

@font-face {
  font-family: OpenSans-Bold;
  src: url("../../assets/fonts/OpenSans/OpenSans-Bold.ttf");
}

/* ===============================================================
                    
                    typography rubix

================================================================== */
@font-face {
  font-family: Rubik-Regular;
  src: url("../fonts/rubix/Rubik-Regular.ttf");
}
@font-face {
  font-family: Rubik-Bold;
  src: url("../fonts/rubix/Rubik-Bold.ttf");
}

/* ===============================================================
                    
                    typography Montserrats

================================================================== */
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}
/* ===============================================================
                    
                    Inter

================================================================== */

@font-face {
  font-family: Inter-Thin;
  src: url("../../assets/fonts/Inter/Inter-Thin.ttf");
}

@font-face {
  font-family: Inter-Light;
  src: url("../../assets/fonts/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: Inter-ExtraLight;
  src: url("../../assets/fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("../../assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-Medium;
  src: url("../../assets/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url("../../assets/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("../../assets/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: Inter-Black;
  src: url("../../assets/fonts/Inter/Inter-Black.ttf");
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url("../../assets/fonts/Inter/Inter-ExtraBold.ttf");
}
/* ===============================================================
                    
                    Comfortaa-Regular

================================================================== */

@font-face {
  font-family: Comfortaa-Regular;
  src: url("../../assets/fonts/Comfortaa/Comfortaa-Regular.ttf");
}
